.gallery-item {
  display: block;
}

.lightbox-modal {
  .modal-content {
    background-color: rgb(0 0 0 / 50%);
  }

  .btn-close {
    position: absolute;
    top: rem.convert(20px);
    right: rem.convert(20px);
    font-size: rem.convert(20px);
    z-index: 10;
    filter: invert(1) grayscale(100);
    opacity: 1 !important;
  }

  .modal-body {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .lightbox-content {
    width: 100%;
  }

  .carousel {
    &-indicators {
      margin-bottom: 0;

      [data-bs-target] {
        background-color: var(--carousel-text) !important;
      }
    }

    &-inner {
      width: 75%;

      @media (min-width: 1400px) {
        max-width: 60%;
      }
    }

    &-item {
      // padding-bottom:4rem;
      text-align: center;
      position: relative;

      .modal-img-container {
        position: relative;
        width: auto;
        margin: 0 auto;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .carousel-caption {
        position: static;
        padding: rem.convert(16px);
        background-color: var(--red);
        color: var(--white) !important;
        text-align: center;
        z-index: 3;
        width: 100%;

        h5 {
          font-size: rem.convert(28px);
          @include media-breakpoint-down(md) {
            font-size: rem.convert(18px);
          }
        }
        p {
          font-size: rem.convert(18px);
          @include media-breakpoint-down(md) {
            font-size: rem.convert(14px);
          }
        }
      }

      img {
        height: auto;
        object-fit: contain;

        @include media-breakpoint-down(md) {
          height: auto;
        }
      }
    }

    &-control {

      &-prev,
      &-next {
        width: auto;
        opacity: 1 !important;

        &:hover {

          .carousel-control-prev-icon,
          .carousel-control-next-icon {
            border: 2px solid var(--white);
          }
        }
      }

      &-prev {
        left: rem.convert(8px);
      }

      &-next {
        right: rem.convert(8px);
      }
    }
  }
}

[data-bs-theme="dark"] {
  .lightbox-modal {
    .carousel-control {

      &-next-icon,
      &-prev-icon {
        filter: none;
      }
    }
  }

  .video-lightbox-modal {
    .carousel-item::after {
      display: none;
    }
  }
}

.btn {
  &-fullscreen {

    &-enlarge,
    &-exit {
      position: absolute;
      top: 1.25rem;
      right: 3.5rem;
      z-index: 10;
      border: 0;
      background: transparent;
      opacity: 0.6;
      font-size: 1.25rem;
    }
  }
}

.bi {
  display: inline-block;
  width: rem.convert(16px);
  height: rem.convert(16px);
  vertical-align: -0.035em;
  fill: currentcolor;
}

.photo-gallery {
  >.container-fluid {
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }
}