// Home Hero Start
.home-hero-sec {
  position: relative;

  &::after {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.90) 100%);
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
  }


  padding-top: 0.6rem;

  .hero-bg-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .custom-container {
    position: relative;
    z-index: 3;
    max-width: 100%;

    @include media-breakpoint-up(xxl) {
      padding-left: calc(50vw - 730px);
    }

    @media(min-width:2400px) {
      max-width: rem.convert(1920px);
      padding-left: 0;
    }
  }

  .content-section {
    padding-block: 5rem;
    padding-left: 4rem;
    display: inline-flex;
    flex-direction: column;
    gap: rem.convert(30px);

    @include media-breakpoint-up(lg) {
      width: 46%;
    }

    @include media-breakpoint-up(xxl) {
      padding-top: rem.convert(64px);
      padding-bottom: rem.convert(96px);
    }

    @include media-breakpoint-up(xxxl) {
      padding-left: 3rem;
    }

    @include media-breakpoint-down(md) {
      padding-top: 0;
      padding-bottom: 3rem;
      padding-inline: 1.25rem;
      gap: rem.convert(24px);
    }

    .tagline {
      word-break: break-word;

      .highlight {
        color: var(--gold);
      }
      h1,.h1{
        font-size: rem.convert(64px);
        @include media-breakpoint-down(md) {
          font-size: rem.convert(48px);
        }
      }
    }

    .actions {
      li {
        margin-top: rem.convert(8px);

        @include media-breakpoint-down(md) {
          margin-top: rem.convert(12px);
        }

        &:first-child {
          margin-top: 0;
        }

        .btn-secondary {
          font-size: 1rem;
          line-height: 1.75;

        }
      }
    }
  }

  .image-section {
    position: relative;

    @include media-breakpoint-up(lg) {
      width: 54%;
    }

    .swiper {
      @include media-breakpoint-up(md) {
        height: auto !important;
        position: sticky;
        top: 0;
      }
    }

    // .img-clip-path-box {
    //   position: relative;
    //   .img-wrapper {
    //     position: relative;
    //     height: 100%;
    //     padding-top: rem.convert(37px);
    //     padding-left: rem.convert(37px);
    //     @include media-breakpoint-down(lg) {
    //       padding-top: rem.convert(20px);
    //       padding-left: rem.convert(20px);
    //     }
    //     img {
    //       object-fit: cover;
    //       height: 100%;
    //       width: 100%;
    //       position: relative;
    //       z-index: 2;
    //       @include media-breakpoint-up(lg) {
    //       }
    //       @include media-breakpoint-down(md) {
    //         min-height: 297px;
    //       }
    //     }
    //     &::before {
    //       content: "";
    //       position: absolute;
    //       z-index: 1;
    //       left: 0;
    //       top: 0;
    //       height: 94%;
    //       width: 94%;
    //       background-position: top left;
    //       border: 12px solid #FDC25A;
    //       @include media-breakpoint-down(lg) {
    //        border-width: 6px;
    //       }
    //     }
    //     &::after {
    //       content: "";
    //       position: absolute;
    //       z-index: 3;
    //       right: 1.25rem;
    //       bottom: 1.25rem;
    //       height: 100%;
    //       width: 1.81644rem;
    //       max-height: 15.44531rem;
    //       background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="248" viewBox="0 0 30 248" fill="none"><path d="M15.1049 24.9794L14.5312 28.125L13.9576 24.9794C12.8104 19.7985 8.60403 15.7278 3.25041 14.6176L0 14.0625L3.25041 13.5074C8.60403 12.3972 12.8104 8.32648 13.9576 3.14555L14.5312 0L15.1049 3.14555C16.2521 8.32648 20.4585 12.3972 25.8121 13.5074L29.0625 14.0625L25.8121 14.6176C20.4585 15.7278 16.2521 19.7985 15.1049 24.9794Z" fill="white"/><path d="M15.1049 79.8433L14.5312 83.0938L13.9576 79.8433C12.8104 74.4897 8.60403 70.2833 3.25041 69.1361L0 68.5625L3.25041 67.9889C8.60403 66.8417 12.8104 62.6353 13.9576 57.2817L14.5312 54.0312L15.1049 57.2817C16.2521 62.6353 20.4585 66.8417 25.8121 67.9889L29.0625 68.5625L25.8121 69.1361C20.4585 70.2833 16.2521 74.4897 15.1049 79.8433Z" fill="white"/><path d="M15.1049 134.843L14.5312 138.094L13.9576 134.843C12.8104 129.49 8.60403 125.283 3.25041 124.136L0 123.562L3.25041 122.989C8.60403 121.842 12.8104 117.635 13.9576 112.282L14.5312 109.031L15.1049 112.282C16.2521 117.635 20.4585 121.842 25.8121 122.989L29.0625 123.562L25.8121 124.136C20.4585 125.283 16.2521 129.49 15.1049 134.843Z" fill="white"/><path d="M15.1049 189.843L14.5312 193.094L13.9576 189.843C12.8104 184.49 8.60403 180.283 3.25041 179.136L0 178.562L3.25041 177.989C8.60403 176.842 12.8104 172.635 13.9576 167.282L14.5312 164.031L15.1049 167.282C16.2521 172.635 20.4585 176.842 25.8121 177.989L29.0625 178.562L25.8121 179.136C20.4585 180.283 16.2521 184.49 15.1049 189.843Z" fill="white"/><path d="M15.1049 243.979L14.5312 247.125L13.9576 243.979C12.8104 238.799 8.60403 234.728 3.25041 233.618L0 233.062L3.25041 232.507C8.60403 231.397 12.8104 227.326 13.9576 222.146L14.5312 219L15.1049 222.146C16.2521 227.326 20.4585 231.397 25.8121 232.507L29.0625 233.062L25.8121 233.618C20.4585 234.728 16.2521 238.799 15.1049 243.979Z" fill="white"/></svg>');
    //       background-size: contain;
    //       background-repeat: no-repeat;
    //       background-position: right;
    //       @include media-breakpoint-down(lg) {
    //         max-height: 12rem;
    //       }
    //       @include media-breakpoint-down(md) {
    //         max-height: 8.49619rem;
    //         right: rem.convert(10px);
    //         bottom:  rem.convert(10px);

    //       }
    //     }

    //   }
    // } 

    .swiper .swiper-slide {
      align-items: flex-start;
    }

    &.img-clip-path {
      .img-wrapper {
        &::before {
          background-image: url('data:image/svg+xml,<svg width="940" height="732" viewBox="0 0 940 732" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M191.859 732H939.822V0H0L0.00011756 466L191.859 732ZM12 462.124V12H469.911H927.822V720H198L12 462.124Z" fill="%23D50032"/></svg>');

          @include media-breakpoint-down(sm) {
            background-image: url('data:image/svg+xml,<svg width="470" height="366" viewBox="0 0 940 732" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M191.859 732H939.822V0H0L0.00011756 466L191.859 732ZM12 462.124V12H469.911H927.822V720H198L12 462.124Z" fill="%23D50032"/></svg>');
          }

        }
      }

      .star-svg {
        position: absolute;
        z-index: 3;
        right: rem.convert(20px);
        bottom: rem.convert(20px);
        height: 100%;
        width: 100%;
        max-height: 10.16338rem;

        @include media-breakpoint-up(md) {
          max-height: 18rem;
        }

        @include media-breakpoint-up(xxl) {
          max-height: 25.63088rem;
        }

      }

      svg.star-svg {
        width: auto !important;
      }

      .img-wrapper {
        position: relative;
        width: 100%;

        @include media-breakpoint-down(lg) {
          width: 85%;
          margin-left: auto;
        }
      }
    }

  }
}

// Home Hero End

.section-hero {
  padding-top: rem.convert(151px);
}

// inner-hero-full-slider 
.inner-hero-full-slider {
  position: relative;
  min-height: rem.convert(696px);
  // @media (min-width: 768px) {
  //   min-height: 90vh;
  // }

  // @media (min-width: 1440px) {
  //   min-height: 78vh;
  // }

  @media (min-width: 1660px) {
    min-height: 80vh;
  }

  @include media-breakpoint-down(lg) {
    min-height: rem.convert(536px);
    height: auto;
  }

  &::before {
    content: "";
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="186" height="227" viewBox="0 0 186 227" fill="none"><path d="M-283.229 226.71H-287.253L-446.001 0H-441.977L-283.229 226.71ZM-261.942 226.71H-265.965L-424.707 0H-420.684L-261.942 226.71ZM-240.655 226.71H-244.679L-403.421 0H-399.397L-240.655 226.71ZM-219.369 226.71H-223.393L-382.134 0H-378.111L-219.369 226.71ZM-198.082 226.71H-202.105L-360.848 0H-356.824L-198.082 226.71ZM-176.79 226.71H-180.813L-339.561 0H-335.537L-176.79 226.71ZM-155.503 226.71H-159.527L-318.274 0H-314.25L-155.503 226.71ZM-134.217 226.71H-138.239L-296.981 0H-292.958L-134.217 226.71ZM-112.93 226.71H-116.953L-275.695 0H-271.672L-112.93 226.71ZM-91.6436 226.71H-95.666L-254.408 0H-250.385L-91.6436 226.71ZM-70.3506 226.71H-74.374L-233.122 0H-229.098L-70.3506 226.71ZM-49.0645 226.71H-53.0879L-211.835 0H-207.812L-49.0645 226.71ZM-27.7773 226.71H-31.8018L-190.549 0H-186.524L-27.7773 226.71ZM-6.49121 226.71H-10.5137L-169.256 0H-165.232L-6.49121 226.71ZM14.7959 226.71H10.7725L-147.969 0H-143.946L14.7959 226.71ZM36.082 226.71H32.0596L-126.683 0H-122.659L36.082 226.71ZM57.375 226.71H53.3506L-105.396 0H-101.372L57.375 226.71ZM78.6611 226.71H74.6377L-84.1094 0H-80.0859L78.6611 226.71ZM99.9482 226.71H95.9238L-62.8232 0H-58.7988L99.9482 226.71ZM121.235 226.71H117.212L-41.5303 0H-37.5068L121.235 226.71ZM142.521 226.71H138.498L-20.2432 0H-16.2207L142.521 226.71ZM163.814 226.71H159.79L1.04297 0H5.06738L163.814 226.71ZM185.101 226.71H181.077L22.3291 0H26.3535L185.101 226.71Z" fill="%23FEC35A"/></svg>');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    width: rem.convert(186px);
    height: rem.convert(227px);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 7;

    @include media-breakpoint-down(xxl) {
      width: 11.55144rem;
      height: 9.16938rem;
    }

    @include media-breakpoint-down(lg) {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="183" height="32" viewBox="0 0 183 32" fill="none"><path d="M-125.022 149H-127.667L-232 0H-229.355L-125.022 149ZM-111.031 149H-113.676L-218.005 0H-215.36L-111.031 149ZM-97.041 149H-99.6855L-204.015 0H-201.37L-97.041 149ZM-83.0508 149H-85.6953L-190.024 0H-187.38L-83.0508 149ZM-69.0605 149H-71.7051L-176.034 0H-173.39L-69.0605 149ZM-55.0664 149H-57.7109L-162.044 0H-159.399L-55.0664 149ZM-41.0762 149H-43.7207L-148.054 0H-145.409L-41.0762 149ZM-27.0869 149H-29.7314L-134.061 0H-131.416L-27.0869 149ZM-13.0967 149H-15.7412L-120.07 0H-117.426L-13.0967 149ZM0.893555 149H-1.75098L-106.08 0H-103.436L0.893555 149ZM14.8887 149H12.2432L-92.0898 0H-89.4453L14.8887 149ZM28.8789 149H26.2334L-78.0996 0H-75.4551L28.8789 149ZM42.8691 149H40.2236L-64.1094 0H-61.4648L42.8691 149ZM56.8584 149H54.2139L-50.1152 0H-47.4707L56.8584 149ZM70.8486 149H68.2041L-36.125 0H-33.4805L70.8486 149ZM84.8389 149H82.1943L-22.1348 0H-19.4902L84.8389 149ZM98.833 149H96.1885L-8.14453 0H-5.5L98.833 149ZM112.823 149H110.179L5.8457 0H8.49023L112.823 149ZM126.813 149H124.169L19.8359 0H22.4805L126.813 149ZM140.804 149H138.159L33.8301 0H36.4746L140.804 149ZM154.794 149H152.149L47.8203 0H50.4648L154.794 149ZM168.788 149H166.144L61.8105 0H64.4551L168.788 149ZM182.778 149H180.134L75.8008 0H78.4453L182.778 149Z" fill="%23FEC35A"/></svg>');
      width: rem.convert(183px);
      height: rem.convert(32px);
    }
  }

  .inner-hero-slider {
    min-height: 696px;

    @include media-breakpoint-down(lg) {
      min-height: rem.convert(536px);
      height: auto;
    }

    @media (min-width: 1660px) {
      min-height: 80vh;
    }

    .swiper {
      min-height: 696px;

      @media (min-width: 1660px) {
        min-height: 80vh;
      }

      @include media-breakpoint-down(lg) {
        min-height: rem.convert(536px);
        height: auto;
      }

      .swiper-wrapper {
        min-height: 100%;
      }
    }

    .swiper-slide {
      text-decoration: none;
      min-height: rem.convert(696px);

      @media (min-width: 1660px) {
        min-height: 80vh;
      }

      @include media-breakpoint-down(lg) {
        min-height: rem.convert(536px);
        height: auto;
      }

      align-items: flex-end;

      .img-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100;
        min-height: rem.convert(696px);

        @media (min-width: 1660px) {
          min-height: 80vh;
        }

        img {
          height: 100%;
          width: 100;
          object-fit: cover;
        }

        @include media-breakpoint-down(lg) {
          min-height: rem.convert(536px);

          img {
            min-height: rem.convert(536px);
          }
        }

        &::after {
          content: "";
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 60%, rgba(0, 0, 0, 0.8) 100%);
          position: absolute;
          inset: 0;
          z-index: 2;
          height: 100%;
          width: 100%;

          // @include media-breakpoint-down(md) {
          //   background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgb(0 0 0 / 33%) 57.09%);
          // }
        }

        video {
          object-fit: cover;
          height: 100%;
        }
      }

      .content-section {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 8;
        width: 100%;
        padding-bottom: rem.convert(40px);
        margin-top: rem.convert(240px);

        @include media-breakpoint-down(lg) {
          padding-bottom: rem.convert(124px);
          margin-top: rem.convert(128px);
        }

        .slider-heading {
          max-width: 1070px;
          display: flex;
          flex-direction: column;
          gap: 24px;
          h1,.h1{
            font-size: rem.convert(64px);
            @include media-breakpoint-down(md) {
              font-size: rem.convert(48px);
            }
          }

          @include media-breakpoint-up(lg) {
            padding-left: 8.1rem;
          }

          @media (min-width:1920px) {
            padding-left: 0;
          }
        }

        .container {
          @media (min-width: 1920px) {
            padding-inline: 2rem;
          }
        }
      }
    }

    .pagination-container {
      z-index: unset;

      @media(min-width:1920px) {
        max-width: rem.convert(1920px) !important;
      }

      @include media-breakpoint-down(md) {
        bottom: rem.convert(60px);

        .button-with-pagination-sec {
          margin-inline: auto;
        }
      }
    }

    &:has(.section-videotexture) {
      @media(max-width: 768px) {
        min-height: auto;
      }
      .img-wrapper {
        @media(max-width: 768px) {
          padding-top: 104px;
          min-height: auto;
          &::after {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%);
          }
        }
        @media(max-width: 540px) {
          height: auto !important;
        }

        .video-thumbnail-image {
          display: none;

          @media(max-width: 768px) {
            display: block;
            min-height: auto;
          }
          @media(max-width: 540px) {
            display: block;
            object-fit: contain;
            height: auto !important;
            min-height: auto;
          }
        }

        .section-videotexture {
          @media(max-width: 768px) {
            display: none;
          }
        }
      }

      .content-section {
        @media(max-width: 768px) {
          padding-bottom: rem.convert(60px);
        }

        .slider-heading {
          @media(max-width: 768px) {
            text-align: center !important;
          }
        }
      }
    }
  }

  &.inner-normal-hero {
    @include media-breakpoint-down(md) {
      min-height: 430px;
      height: auto;

      .inner-hero-slider .swiper-slide .content-section {
        padding-bottom: 3.75rem;
      }

      .img-wrapper:has(video) {
        @include media-breakpoint-down(md) {
          min-height: rem.convert(430px);

          video {
            min-height: rem.convert(430px);
            object-fit: cover;
          }
        }
      }
    }
  }

  &.program-finder-hero {
    .inner-hero-slider .swiper-slide .content-section .slider-heading {
      max-width: 1200px;
    }
  }

}


.inner-hero-full-image {
  position: relative;
  min-height: rem.convert(284px);

  &:not(.no-image) {
    @include media-breakpoint-up(md) {
      min-height: rem.convert(384px);
    }

    @include media-breakpoint-up(xl) {
      min-height: rem.convert(544px);
    }

    @media(min-width:1920px) {
      min-height: rem.convert(700px);
    }

    .full-img-hero-wrap {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }
  }

  &:has(.small-height) {
    @media(min-width:1920px) {
      min-height: rem.convert(544px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 3;
    right: rem.convert(0);
    bottom: rem.convert(16px);
    height: 154px;
    width: 317px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 55 55" fill="none"><path d="M14.8034 25.2525L14.1609 28.3772L13.5185 25.2525C12.4477 20.0088 8.35201 15.9052 3.11862 14.8323L0 14.1886L3.11862 13.5449C8.35201 12.472 12.4477 8.36831 13.5185 3.12471L14.1609 0L14.8034 3.12471C15.8742 8.36831 19.9699 12.472 25.2033 13.5449L28.3219 14.1886L25.2033 14.8323C19.9699 15.9052 15.8742 20.0088 14.8034 25.2525Z" fill="white"/></svg>');
    background-size: 44px;
    background-repeat: repeat;
    background-position: right top;

    @include media-breakpoint-up(xxl) {
      height: 201px;
      width: 414px;
      background-size: 57px;
    }

    @include media-breakpoint-down(md) {
      height: 96px;
      width: 205px;
      background-size: 27px;
      bottom: rem.convert(10px);
    }
  }

  .full-img-hero-wrap {
    img {
      object-fit: cover;

      &.small-height {
        object-fit: contain;
        //margin-top: rem.convert(48px);
        max-width: 1312px !important;

        @include media-breakpoint-down(md) {
          //margin-top: rem.convert(32px);
        }

      }

      &:not(.small-height) {
        min-height: rem.convert(284px);
      }
    }
  }

  &:has(.full-img-hero-wrap img.small-height) {
    background: var(--grey-800);

    &::after {
      display: none;
    }

    .img-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem.convert(141px 24px 0 24px);

      @include media-breakpoint-down(xxl) {
        padding: rem.convert(96px 24px 0 24px);
      }

      @include media-breakpoint-down(md) {
        padding: rem.convert(96px 24px 0 24px);
      }
    }
  }
}

.hero-parallax {
  .img-wrapper {
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint-up(md) {
      background-position: top;
      background-attachment: fixed;
    }
  }
}

.no-image {
  height: auto;
  padding-top: rem.convert(100px);
  min-height: rem.convert(164px);

  @include media-breakpoint-down(lg) {
    min-height: rem.convert(100px);
  }

  @include media-breakpoint-up(md) {
    padding-top: 7rem;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 10rem;
  }
}

body {
  &:has(.home-hero-sec) {
    .main-header {
      &.header-color {
        >.container {
          background-color: var(--black);
        }
      }

      >.container {
        background-color: transparent;
      }

    }
  }
}