.gsc-control-cse {
    margin-top: rem.convert(48px);
    @include media-breakpoint-down(md){
        margin-top: rem.convert(24px);
        padding: 0 !important;
    }
    .gsc-search-box-tools{
        @include media-breakpoint-down(md){
            padding: rem.convert(16px) !important;
            margin-bottom: rem.convert(24px) !important;
        }
    }
}
.gsc-search-box-tools {
    background: var(--white);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border-radius: 0;
    padding: rem.convert(20px 24px);

    @include media-breakpoint-down(md) {
        padding: rem.convert(16px);
    }

    td {
        padding: 0 !important;
    }

    .gsc-input-box {
        table {
            tr {
                border: 2px solid var(--grey-800) !important;
                box-shadow: none !important;
                &:focus-within {
                    border-color: var(--dark-grey) !important;
                }
            }
        }
    }

    .gsc-input {
        .gsc-input-box {
            border: none;
        }

        .td {
            padding: rem.convert(4px 32px) !important;
        }
    }

    .gsc-search-button {
        min-height: rem.convert(40px);
        padding: rem.convert(6px 16px);
        background-color: var(--red);
        border-radius: 0;
        border: none;
    }

    .gsc-search-button-v2 svg {
        height: rem.convert(16px);
        width: auto !important;
    }

    .gsc-input-box {
        border: none;
        background: var(--light-gray);
    }

    .gscb_a {
        line-height: 0;
    }

    .gsst_a .gscb_a {
        color: var(--dark-grey);
        cursor: pointer;
        vertical-align: middle;
    }

    .gsc-input {
        background-color: transparent !important;
    }

}

.gssb_c {}

.gsc-above-wrapper-area {
    border-bottom: 1px solid var(--red) !important;
}

.gsc-webResult .gsc-result {
    border-bottom: 1px solid #e0ded9 !important;
}

.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b {
    color: var(--red) !important;
    text-decoration: underline !important;
    text-decoration-color: rgba(168, 0, 39, 0.2) !important;

    &:hover {
        text-decoration-color: var(--red) !important;
    }
}

.gsc-result-info,
.gsc-result-info {
    color: var(--black) !important;
}

.gsc-result-info {
    font-size: rem.convert(16px) !important;
}

.gsq_a {
    td {
        padding: rem.convert(8px 24px) !important;
    }
}

.gsc-control-cse {
    .gsc-option-menu {
        margin-top: rem.convert(36px) !important;
    }
}

.gsc-selected-option {
    cursor: pointer;
}

.gsc-results {
    .gsc-cursor-box {

        text-align: center;

        .gsc-cursor-page {
            cursor: pointer;
            color: var(--black) !important;
            padding: rem.convert(8px 12px);
            &:hover,
            &.gsc-cursor-current-page {
                color: var(--red) !important;
            }
            
        }
    }
}
.gsc-orderby-label{
    color: var(--black);
}
.gssb_a {

}
.gsc-search-box {
    .gsc-input[name="search"]{
        padding-left: rem.convert(40px) !important;
    }
    #gs_st50{
        text-align: right;
    }
    @include media-breakpoint-down(md){
      margin: 0 !important;
    }
}
