.bg-transparent {
    background: transparent !important;
}
.bg-red {
    background: var(--red) !important;
    color: var(--white);

    * {
        color: var(--white);
    }

    .btn-secondary.btn-secondary-icon-yellow {
        svg {
            * {
                color: var(--gold);
            }
        }
    }

    .bg-white {
        background: var(--white);
        color: var(--black);

        * {
            color: var(--black);
        }

        .btn-secondary {
            svg {
                * {
                    color: var(--red);
                }
            }
        }
    }

    .section-heading {
        .star-icon {
            * {
                color: #00000066;
            }
        }
    }

    .btn-primary {
        background-color: var(--gold);

        span {
            //background-color: var(--gold);
            color: var(--black);
        }

        &:hover {
            background-color: var(--black);
            color: var(--white);

            span {
                color: var(--white);
            }
        }
    }
}

.bg-white {
    background: var(--white);
    color: var(--black);

    .full-sec-content {
        a:not(.btn) {
            color: var(--red) !important;

            span {
                color: var(--red) !important;
            }
        }

        p,
        ul li,
        ol li {
            color: var(--black) !important;
        }
    }

    .btn-primary {
        &.clear {
            background: none;
            border: 1px solid var(--black);
            color: var(--black);
            clip-path: none;

            span {
                color: var(--black);
            }

            &:hover {
                background-color: var(--black) !important;
                color: var(--white);

                span {
                    color: var(--white);
                }
            }
        }
    }

}

.bg-black {
    background: var(--black);
    color: var(--white);

    * {
        color: var(--white);
    }

    .btn-secondary {
        background-color: transparent;
        color: var(--black);

        .arrow {
            color: var(--gold);

            * {
                color: var(--gold);
            }

            path {
                fill: var(--gold) !important;
            }
        }

        span {
            flex: 1;
        }

        &:hover {
            background: #FDC25A1A;
            border: 1px solid var(--pink);

            .arrow {
                color: var(--gold);

                * {
                    color: var(--gold);
                }
            }

        }

        &.btn-secondary-icon-yellow {
            background: transparent;

            .arrow {
                color: var(--gold);
            }

            &:hover {
                background: #FDC25A1A;

                .arrow {
                    color: var(--gold);

                    * {
                        color: var(--gold);
                    }
                }
            }
        }

    }

    .btn-primary {
        &:focus-visible {
            outline: var(--white) auto 1px;
        }
    }

    .btn.btn-secondary-white {
        &:hover {
            background: rgba(253, 194, 90, 0.10);
            transition: all 0.5s ease-in-out;
            border: 1px solid var(--pink);

            .arrow {
                transform: rotate(-45deg);
                color: var(--gold) !important;

                path {
                    color: var(--gold);
                }
            }
        }
    }

    .btn-primary {
        &:hover {
            color: var(--black);
            background-color: var(--gold);

            span {
                //background-color: var(--gold);
                color: var(--black);

                svg {
                    color: var(--black);

                    * {
                        color: var(--black);
                    }
                }
            }

            &::before {
                background-color: var(--gold);
            }
        }
    }

    &.key-feature-sec {
        a:not([class]),
        a:not(.btn) {
            @extend .link--hover;
            text-underline-offset: 1px !important;
            text-decoration-color: var(--white) !important;
            color: var(--white) !important;
            &:hover {
                text-decoration-color: transparent !important;
                background: rgba(253, 194, 90, 0.1019607843)!important;
                color: var(--white) !important;
            }
        }
    }
}

.bg-gold {
    background: var(--gold);
}

.bg-light-gray {
    background: var(--light-gray) !important;
}

.bg-grey-700 {
    background: var(--grey-700);
}

.bg-danger {
    background: var(--danger);
}

.bg-success {
    background: var(--success);
}

.text-red {
    color: var(--red);
}

.text-white {
    color: var(--white);
}

.text-black {
    color: var(--black);

    * {
        color: var(--black);
    }
}

.text-gold {
    color: var(--gold);

    * {
        color: var(--gold);
    }
}

.text-purple {
    color: var(--purple);

    * {
        color: var(--purple);
    }
}

.text-light-purple {
    color: #DAA4D0;

    * {
        color: #DAA4D0;
    }
}

.text-light-pink {
    color: #FF85A3;

    * {
        color: #FF85A3;
    }
}

.text-light-teal {
    color: #8BF2F9;

    * {
        color: #8BF2F9;
    }
}

.text-teal {
    color: var(--teal);

    * {
        color: var(--teal);
    }
}

.text-red {
    color: var(--red);

    * {
        color: var(--red);
    }
}

.text-success {
    color: var(--success);
}

.text-danger {
    color: var(--danger);
}