// Type: SCSS Component
body {
  margin: 0;
  font-family: var(--body-font-family);
  font-optical-sizing: auto;
  color: var(--white);
  font-size: rem.convert(16px);
  line-height: 1.75;
  font-weight: $medium;
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--heading-font-family);
}


h1, .h1 {
  font-size: rem.convert(48px);
  font-style: normal;
  font-weight: $semibold;
  line-height: 1;
  @include media-breakpoint-down(xl) {
    font-size: rem.convert(40px);
  }
  @include media-breakpoint-down(lg) {
    font-size: rem.convert(36px);
    line-height: 1.10; 
  }
}



h2, .h2 {
  font-family: var(--heading-font-family);
  font-size: rem.convert(40px);
  font-style: normal;
  font-weight: $semibold;
  line-height:1.10; 
  color: var(--red);
 
 
  @include media-breakpoint-down(lg) {
    font-size: rem.convert(32px);
    line-height: 1.2; 
  }
}

h3, .h3 {
  font-family: var(--body-font-family);
  font-size: rem.convert(28px);
  font-style: normal;
  font-weight: $semibold;
  line-height: 1.2; /* 2.25rem */
  letter-spacing: -0.05625rem;
  @include media-breakpoint-down(xl) {
    font-size: rem.convert(22px);
    line-height: 1.4; /* 1.575rem */
  }
  @include media-breakpoint-down(lg) {
    font-size: rem.convert(20px);
    line-height: 1.2; /* 2.55rem */
    letter-spacing: normal;
  }
}


h4, .h4 {
  font-family: var(--body-font-family);
  font-size: rem.convert(24px);
  font-style: normal;
  font-weight: $semibold;
  line-height: 1.2; /* 1.8rem */
 
  @include media-breakpoint-down(lg) {
    font-size: rem.convert(20px);
    line-height: 1.4; /* 1.575rem */  
  }
}
h5, .h5  {
  font-family: var(--body-font-family);
  font-size: rem.convert(20px);
  font-style: normal;
  font-weight: $semibold;
  line-height: 1.4; /* 1.575rem */
}

.big-heading {
  font-family: var(--heading-font-family);
  font-size: rem.convert(48px);
  font-style: normal;
  font-weight: 600;
  line-height: 1.1; /* 4.4rem */
  letter-spacing: -0.12rem;
   @include media-breakpoint-down(lg) {
    font-size: rem.convert(40px);
    letter-spacing: -0.09rem;
  }
}

.h3-headng {
  font-family: var(--body-font-family);
  font-size: rem.convert(30px);
  font-style: normal;
  font-weight: $semibold;
  line-height: 1.2; /* 2.25rem */
  letter-spacing: -0.05625rem;
  @include media-breakpoint-down(xl) {
    font-size: rem.convert(24px);
    line-height: 1.4; /* 1.575rem */
  }
  @include media-breakpoint-down(lg) {
    font-size: rem.convert(20px);
    line-height: 1.4; /* 1.575rem */
  }
}
.h4-headng {
  font-family: var(--body-font-family);
  font-size: rem.convert(24px);
  font-style: normal;
  font-weight: $semibold;
  line-height: 1.2; /* 1.8rem */
 
  @include media-breakpoint-down(lg) {
    font-size: rem.convert(18px);
    line-height: 1.4; /* 1.575rem */  
  }
}

.h5-headng {
  font-family: var(--body-font-family);
  font-size: rem.convert(18px);
  font-style: normal;
  font-weight: $semibold;
  line-height: 1.4; /* 1.575rem */
 
}

.text-smaller  {
  font-family: var(--body-font-family);
  font-size: rem.convert(12px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.75; /* 1.3125rem */
}
.subtext,
.text-small {
  font-family: var(--body-font-family);
  font-size: rem.convert(14px);
  line-height: 1.75; /* 1.53125rem */
  font-weight: 500;
  @include media-breakpoint-down(lg) {
    font-size: rem.convert(14px);
  }
}

.text-medium {
  font-size: rem.convert(16px);
  line-height: 1.75; /* 1.75rem */
  font-weight: $medium;
}

.text-medium-ver2 {
  font-size: rem.convert(16px);
  line-height: 1.75; /* 1.75rem */
  font-weight: $medium;
   @include media-breakpoint-down(lg) {
    font-size: rem.convert(14px);
  }
}

.text-16-bold {
  font-size: rem.convert(16px);
  line-height: 1.75; /* 1.75rem */
  font-weight: $bold  ;
   @include media-breakpoint-down(lg) {
    font-size: rem.convert(14px);
  }
}

.text-regular {
  font-family: var(--body-font-family);
  font-size: rem.convert(18px);
  line-height: 1.51875;
  font-weight: $regular;

}
.text-large {
  font-family: var(--body-font-family);
  font-size: rem.convert(20px);
  line-height: 1.75; 
  font-weight: $medium;

  @include media-breakpoint-down(lg) {
    font-size: rem.convert(16px);
    line-height:  1.75; /* 1.75 */
  }
}




